@import url("styles/reset.scss");

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background-color: rgb(70, 70, 70);
}

.clickable {
	cursor: pointer;
}