<div *ngIf="currentUser == null">
    <app-register></app-register>
    <app-login></app-login>
</div>

<mat-card *ngIf="currentUser != null" fxLayout="column" fxLayoutGap="10px">
    <mat-card-header>
        <mat-card-title>You are Authenticated by Firebase as:
            {{ currentUser.email }}</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutGap="16px">
        <button mat-raised-button (click)="logOut()" color="accent">
            Log Off
        </button>
    </mat-card-content>
</mat-card>